html{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: 'Roboto Condensed', sans-serif;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
}
@font-face {
font-family: 'Righteous', cursive;
}
@font-face{
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: #F98B88;
    color: #f5f5f5;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

.landing{
    position: relative;
    size: 100vh 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.presentation{
    height: inherit;
    width: 50%;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 5vh;
    size: 5vw;
    margin-top: 10%;
    font-family: 'Poppins-light', sans-serif;
    color: #F98B88;
    font-size: 6vh;

}
.presentation H1{
    font-family: 'Righteous';
    font-size: 12vh;
    position: relative;
    color: #f5f5f5;
}
.typewriter{
    font-family: 'Lexend Deca';
    color: #F98B88;
    font-size: 6vh;
    text-decoration: none;
}

.fluctuating{
    height: inherit;
    width: 50%;
    position: absolute;
    right: 0%;
}
#spaceman{
    width: 25vw;
    position: absolute;
    perspective: 10px;
    transform: scaleX(-1);
    animation-name: fluctuate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes fluctuate{
    0%      {right:100px; top:120px}
    50%     {right: 80px; top:170px}
    100%    {right:100px; top:120px}
}

#arrow{
    transform: scaleX(-1);
    width: 10vw;
    position: relative;
    top: 16vh;
    left: 12vw;
}

/*--------------LANDING END---------------*/

.aboutMe{
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 10%;
    background-color: #102542;
}
.aboutMe h1{
    text-align: center;
    font-family: 'Righteous';
    font-size: 10vh;
    padding-top: 10%;
    padding-bottom: 10vh;
}

.shortly{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    vertical-align: middle;
}
.shortly {
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

.shortly i{
   color: #F98B88;
   padding-bottom: 20px;
}

a:link, a:visited, a:active {
    color: #F98B88;
}
a:hover {
    color: #ff615c;
}

.path1{
    fill:#173a6b;
}

.path2{
    fill: #102542;
}

/*------------ABOUT ME END---------*/

.whatIdo{
    height: 200vh;
    position:relative;
    display: grid;
}
.vlup {
    border-left: 6px solid #f77d79;
    border-radius: 6px;
    height:70vh;
    position:absolute;
    top: 0;
    right: 50%;
  }
.widcontent{
    margin-top: 75vh;
    position: relative;
}

.whatIdo .title{
    text-align: center;
    font-size: 7vh;
    font-family: 'Righteous';
    position: relative;
}

.happy{
    font-family: 'Righteous';
    text-align: center;
    font-size: 40vh;
    animation: flicker 3s infinite alternate; 
    text-align: center;
    text-shadow:-10px 10px 0px #f57975,
    -20px 20px 0px #cf3f87,
    -30px 30px 0px #b32366;
    margin-top: -7%;
}

.happy:hover{
    animation-name: shuffle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shuffle{
    0%{
        color: #ffffff;
        text-shadow:-10px 10px 0px #f57975,
        -20px 20px 0px #cf3f87,
        -30px 30px 0px #b32366;
    }
    25%{
        color: #f57975;
        text-shadow:-10px 10px 0px #cf3f87,
        -20px 20px 0px #b32366,
        -30px 30px 0px #ffffff;
    }
    50%{
        color: #cf3f87;
        text-shadow:-10px 10px 0px #b32366,
        -20px 20px 0px #ffffff,
        -30px 30px 0px #f57975;
    }
    75%{
        color: #b32366;
        text-shadow:-10px 10px 0px #ffffff,
        -20px 20px 0px #f57975,
        -30px 30px 0px #cf3f87;
    }
    100%{
        color: #ffffff;
        text-shadow:-10px 10px 0px #f57975,
        -20px 20px 0px #cf3f87,
        -30px 30px 0px #b32366;
    }
}

.vldown {
    border-left: 6px solid #f77d79;
    border-radius: 6px;
    height: 70vh;
    position:absolute;
    bottom: 0;
    right: 49.6%;
  }

  

  .bookbottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 115px;  
    fill:#f77d79 ;
  }

  /*-------------WHAT I DO END -----------------*/

.AVStuff{
    background-color:#f77d79;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
}

.AVtxt{
    width: 50%;
    position: absolute;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.AVtxt h1{
    font-family: 'Righteous';
    font-size: xx-large;
}

.AVtxt p {
    font-family: 'Lexend Deca';
    font-size: x-large;
}

.AVimg{
    position: relative;
    width: 50%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
}

.carousel-item img{
    width: inherit;
    height: inherit;
}

/*-------------AV STUFF END-------------*/


.rounddivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
    fill: #f77d79;
}


.webD{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 200vh;
    background-color: #102542;
    padding-top: 15%;
}

.WDtxt{
    position: relative;
    width: 50%;
    float: right;
    padding-left:5%;
    padding-right: 5%;
}
.WDtxt h1{
    font-family: 'Righteous';
    font-size: xx-large;
}
.WDtxt p {
    font-family: 'Lexend Deca';
    font-size: x-large;
}
.webDimg{
    position: relative;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}
.placeholder{
    width: 400px;
    height: 300px;
}

/*---------DIVIDER ESEMPI*/

.exDivider{
    position: relative;
    padding: 10%;
    display: table;
    width: 100%;
}

.divPart{
    display: table-cell;
    width: 33%;
}

#hr1{
    text-align:left;
    height: 3px;
}
.examplesTit{
    display: table-cell;
    width: 33%;
    text-align: center;
}

#hr2{
    text-align:left;
    height: 3px;
}

#hr2{
    text-align:right;

}

/*------------SITI-------------*/

.siteDisplay{
    display: table;
    width: 100%;
    height: fit-content;
    table-layout: fixed;
    border-spacing: 5%;
    padding: 0 5%;
}
.col{
    display: table-cell;
    width: 33%;
    padding: 1%;
    align-items: center;
}
.col img{
    width: 100%;
    height: auto;
    z-index: 999;
}
.desc{
    padding-top: 1%;
    display: block;
    color: #ffffff;
    z-index: 999;
}
.col:hover{
    background-color: #173a6b;
}

/*-----------WAVES DIVIDER------------*/
.waves{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
    fill: #102542;
}

/*---------------WEB DESIGN END-------------*/

.fun{
    width: 100%;
    padding: 5% ;
    position: relative;
    background: linear-gradient(#c84e87, #F3A712);  
    width: 100%;
    height:100vh; 
}

.funContent{
    position: relative;
    display: inline-block;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #102542;
    border-radius: 15px 50px;
    padding: 0 5%;
    z-index: 999;
}

.fun h1{
    font-family: 'Righteous';
    font-size: 10vh;
    text-align: center;
    z-index: inherit;
}


.leftLine{
    border: 3px solid black;
    width: 50%;
    margin-left: 25%;
    z-index: inherit;
}


.fun p {
    font-family: 'Lexend Deca';
    font-size: x-large;
    text-align: center;
    z-index: inherit;
}

.circles{
    position: absolute;
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 1;
}

.circles li:nth-child(1){
    position: absolute;
    left: 25%; 
    width: 0%;
    height: 0%;
    animation-delay: 0s;
    z-index: 1;
}


.circles li:nth-child(2){
    position: absolute;
    left: 10%;
    width: 0px;
    height: 0px;
    animation-delay: 2s;
    animation-duration: 12s;
    z-index: 1;
}

.circles li:nth-child(3){
    position: absolute;
    left: 70%;
    width: 0px;
    height: 0px;
    animation-delay: 4s;
    z-index: 1;
}

.circles li:nth-child(4){
    position: absolute;
    left: 40%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 18s;
    z-index: 1;
}

.circles li:nth-child(5){
    position: absolute;
    left: 65%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    z-index: 1;
}

.circles li:nth-child(6){
    position: absolute;
    left: 75%;
    width: 0px;
    height: 0px;
    animation-delay: 3s;
    z-index: 1;
}

.circles li:nth-child(7){
    position: absolute;
    left: 35%;
    width: 0px;
    height: 0px;
    animation-delay: 7s;
    z-index: 1;
}

.circles li:nth-child(8){
    position: absolute;
    left: 50%;
    width: 0px;
    height: 0px;
    animation-delay: 15s;
    animation-duration: 45s;
    z-index: 1;
}

.circles li:nth-child(9){
    position: absolute;
    left: 20%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 35s;
    z-index: 1;
}

.circles li:nth-child(10){
    position: absolute;
    left: 85%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 11s;
    z-index: 1;
}

.circles li:nth-child(11){
    position: absolute;
    left: 45%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 40s;
    z-index: 1;
}

.circles li:nth-child(12){
    position: absolute;
    left: 55%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 22s;
    z-index: 1;
}
.circles li:nth-child(13){
    position: absolute;
    left: 60%;
    width: 0px;
    height: 0px;
    animation-delay: 14s;
    animation-duration: 10s;
    z-index: 1;
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}